@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  font-family: 'poppins', sans-serif;
  text-transform: capitalize;
}

header{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6.2rem;
  backdrop-filter: blur(2px);
  /* color: #fff; */
  z-index: 100;
  /* background-color: antiquewhite; */
  box-shadow: 0px 0px 20px rgba(0 0 0 /20%);
}
header.sticky{
  position: fixed;
  width: 100%;
  z-index: 100;

  background-color: #f7f7f7;
  color: #000;
  transition: .4s;
}
header.sticky .logo{
  color: #000;
}
header.sticky ul li a{
  color: #000;
}
header.sticky .home{
  color: #000;
}
header.sticky .about{
  color: #ed563b;
}
header.sticky .signup{
  color: #fff;
}
.logo{
  font-weight: bolder;
  color: #fff;
}
 span{
  color: #ed563b;
}
.nav-menu ul{
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-right: 2rem;
}
.nav-menu a{
  color: white;
  font-size: .9rem;
  text-transform: uppercase;
  font-weight: 400;
  transition: all .42s ease;
}
.nav-menu a:hover{
  color: #ed563b;
}
.nav-menu .home{
  color: #ed563b;
}
.nav-menu .signup{
  background-color: #ed563b;
  padding: 12px 12px;
}
.nav-menu .signup:hover{
  background-color: #e7735f;
}
#menu-icon{
  display: none;
}
/* hero section */
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	color: #fff;
	text-align: center;
  background: linear-gradient(rgba(35,45,57,0.8),rgba(35,45,57,0.8));
}
.container video {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}
.container h1{
  font-size: 6rem;
}
.container h4{
  font-size: 1.3rem;
}
 .btn{
  background-color: #ed563b;
  color: #fff;
  padding: 0.9rem 0.9rem;
  transition: 0.5s;
  text-transform: uppercase;
}
 .btn:hover{
  background-color: #e7735f;
}

/* program section */
.program{
  padding: 100px 10%;
  /* margin-block: 7rem; */
}
.program-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
  gap:1rem;
}
.program-header h1{
  color: #101d29;
  font-size: 1.8rem;
  font-weight: bold;
}
.program-header p{
  width: 50%;
  text-align: center;
  font-size: 0.9rem;
  color: #7a7a7a;;
}
.program-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 4rem;

}
.program-card{
  display: flex;
  align-items: center;
  gap: 2rem;
}
.program-card img{
  max-width: 100%;
}
.program-card .program-card-text{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.8rem;
}
.program-card .program-card-text h2{
  font-size: 1.4rem;
  font-weight: 510;

}
 p{
  color: #7a7a7a;;
}
.program-card .program-card-btn{
  color: #ed563b;
}

/* begin section */
.container-begin {
  width: 100%;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-block: 3rem;
	color: #fff;
	text-align: center;
  background-image: url(images/cta-bg.jpg);
}
.container-begin h1{
  font-size: 2rem;
  text-transform: capitalize;
}
.container-begin p{
  width: 70%;
  text-transform: capitalize;
  color: #fff;
}
.container-begin .btn{
  background-color: #ed563b;
  color: #fff;
  padding: 0.9rem 0.9rem;
  transition: 0.5s;
}
.container-begin .btn:hover{
  background-color: #e7735f;
}


/* classes section */
.classes{
  padding: 20px 10%;
}
.classes-cards{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.classes-card{
  display: flex;
  gap: 1rem;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0 0 0 /20%);
  padding: 2rem 2rem;
}
.classes-card h2{
  font-size: 1.1rem;
  font-weight: 600;
  color: #000;
  text-transform: capitalize;
}
.classes-card-btn{
  background-color: #ed563b;
  color: #fff;
  padding: 1.4rem 0;
  text-align: center;
  transition: 0.5s;
  text-transform: uppercase;
  border-radius: 6px;
  font-weight: 700;
}
 .classes-card-btn:hover{
  background-color: #e7735f;
}

.classes-image{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  align-items: flex-start;
  gap: 1.8rem;
}
.classes-image img {
  max-width: 100%;
  overflow: hidden;
  border-radius: 5px;
}
 .classes-image .btn{
  width: 40%;
  background-color: #ed563b;
  color: #fff;
  padding: 0.9rem 0.9rem;
  transition: 0.5s;
  text-transform: uppercase;
}
 .btn:hover{
  background-color: #e7735f;
}
/* schedule section */
.schedule{
  padding: 20px 10%;
  background-image: url(images/schedule-bg.jpg);
  margin-block: 6rem;
}
.schedule-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-block: 5rem;
	color: #fff;
	text-align: center;
}
.schedule-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 6rem; */
  gap:1rem;
  color: #fff;
}
.schedule-header h1{
  font-size: 2rem;
}
.schedule-header p{
  width: 50%;
  text-align: center;
  font-size: 0.9rem;
  color: #fff;
}
.schedule-table h4{
  padding-block: 3rem;
}
.schedule-table td{
  padding: 2rem 4rem;
  font-size: 0.9rem;
}

/* training section */
.training{
  padding: 20px 10%;
}
.training-cards{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2rem;
}
.training-card img{
  width: 100%;
}
.training-card{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  background-color: #fff;
  font-size: 0.9rem;
  box-shadow: 0px 0px 10px rgba(0 0 0 /20%);
}
.training-card h2{
  font-weight: 500;
}
.social-media-icons{
  display: flex;
  gap: 1rem;
}
.social-media-icons a{
  color: #000;
  transition: 0.5s;
}
.social-media-icons a:hover{
  color: #ed563b;
}
/* contact and map section */
.contact{
  padding: 50px 6px;
}
.contact-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  
}
.form{
  width: 100%;
  max-height: 600px;
  background-image: url(images/contact-bg.jpg);
}
form{
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  background-color: #fff;
  margin: 4rem 5rem;
  padding: 3rem;
  /* height: 500px; */
  border-radius: 8px;
}
form input{
  outline: none;
  padding: 0.7rem;
  border: 1px solid #aaaaaa;
}
form .msg-input{
  padding-bottom: 10rem;
}
form .btn{
  align-self: flex-start;
}
.row-input{
  display: flex;
  gap: 2rem;
}
/* footer */
.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  font-size: 0.8rem;
}
.footer p{
  color: #000;
}


/* Responsive section */

@media (max-width:820px) {
  header{
    padding: 1rem 3%;
  }
  header.sticky{
    position: fixed;
    width: 100%;
    z-index: 100;
  
    background-color: #f7f7f7;
    color: #000;
    transition: .4s;
  }
  .nav-menu{
    display: flex;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    gap: 0;
    width: 70%;
    height: 50px;
    margin-left: 25%;
    text-align: center;
    transition: 0.5s;
  }
  
  .nav-menu ul li a{
    color: #fff;
    font-size: 0.9rem;
  }
  
  .nav-menu .signup{
    color: white;
    padding: 10px 5px;
    font-size: 0.9rem;
  }
    /* hero section */
    .container h1{
      font-size: 5rem;
    }
    /* program section */
    .program-container{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      gap: 2rem;
    
    }
    .program-card .program-card-text h2{
      font-size: 1.2rem;
      font-weight: 450;
    
    }
    /* classes section */
    .classes-cards{
      padding-inline: 3%;
    }
    .classes-image{
      padding-inline: 3%;
    }
    .classes-image img{
      width: 100%;
      border-radius: 6px;
    }
    .classes-image .btn{
      width: 25%;
    }
    /* begin section */
    .container-begin {
      width: 100%;
      height: 35vh;
    }
    .container-begin h1{
      font-size: 2.5rem;
      text-transform: capitalize;
    }
    /* schedule section */
    .schedule{
      padding: 20px 5%;
      background-image: url(images/schedule-bg.jpg);
      margin-block: 6rem;
    }
    .schedule-header p{
      width: 100%;
      text-align: center;
      font-size: 0.9rem;
      color: #fff;
    }
    .schedule-table td{
      padding: 2rem 1rem;
      font-size: 1rem;
    }

    /* training section */
    .training-cards{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      gap: 2rem;
      padding-inline: 5%;
    }
    form{

      margin: 2rem 2rem;
      padding: 2rem;
      height: 500px;
      border-radius: 8px;
    }
    form input{
      outline: none;
      padding: 1rem;
      border: 1px solid #aaaaaa;
    }
  
}

/* laptop and l-tablet version */
@media (max-width:1024px){
  /* header section */
  header{
    padding: 1rem 2rem;
  }
  /* hero section */
  .container h1{
    /* font-size: 7rem; */
    line-height: 6rem;
    padding: 2rem 3rem;
  }
  .container h4{
    font-size: 1.1rem;
  }
  /* classes section */
  .classes{
    padding: 20px 3%;
    }
   .classes-card h2{
    font-size: 1.2rem;
   }
  /* program section */
  .program{
    padding: 100px 4%;
   }

  /* training section */
  .training{
    padding: 20px 3%;
  }
  /* contact section */
   .form{
    max-width: 500px;
   }
   .map{
    max-width: 700px;
   }
  .row-input{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15px,auto));
  }
  form .msg-input{
    padding-bottom: 6rem;
  }
  /* footer */
.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  font-size: 1rem;
}

}

@media (max-width:768px) {
  header.sticky{
    position: fixed;
    width: 100%;
    z-index: 100;
  
    background-color: #f7f7f7;
    color: #000;
    transition: .4s;
  }
  .nav-menu{
    display: flex;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    gap: 0;
    width: 80%;
    height: 50px;
    margin-left: 25%;
    text-align: center;
    transition: 0.5s;
  }
  
  .nav-menu ul li a{
    color: #fff;
    font-size: 0.9rem;
  }
  
  .nav-menu .signup{
    color: white;
    padding: 10px 5px;
    font-size: 0.9rem;
  }
  /* schedule section */
  .schedule{
    padding: 20px 5%;
    background-image: url(images/schedule-bg.jpg);
    margin-block: 6rem;
  }
  .schedule-header p{
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
    color: #fff;
  }
  .schedule-table td{
    padding: 2rem 0.8rem;
    font-size: 1rem;
  }
}


@media (max-width:430px) {
  #menu-icon{
    display: block;
    font-size: 30px;
    cursor: pointer;
    transition: .42s ease;
  }
    
  header{
    padding: 1rem 2rem;
    background-color: #f7f8f8;
    box-shadow: 0px 0px 10px rgba(0 0 0 /10%);
  }
  header.sticky{
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: #f7f7f7;
    transition: .4s;
  }
  header.sticky .logo{
    color: #000;
  }
  header.sticky ul li a{
    color: #000;
  }
  header.sticky .home{
    color: #000;
  }
  header.sticky .about{
    color: #ed563b;
  }
  header.sticky .signup{
    color: #fff;
  }

  .logo{
    color: #000;
    font-size: 0.9rem;
  }
  .nav-menu{
    display: block;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    gap: 0;
    background-color: #f7f7f7;
    height: 0;
    margin: auto;
    width: 80%;
    text-align: center;
    transition: 0.5s;
   
  }
  .nav-menu.active{
    height: 300px;
  }
  .nav-menu.active ul{
    display: block;
    width: 100%;
    opacity: 1;
    transition: 0.5s;
  }
  .nav-menu ul{
    opacity: 0;
    
  }
  .nav-menu ul li{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e6e3e3;
    transition: all .4s ease;
  }
  .nav-menu li:hover{
    background-color: #c1c2c579;
  }
  .nav-menu ul li a{
    color: #000;
    font-size: 0.9rem; 
  }
  .nav-menu a{
    padding-block: 0.9rem;
    color: black;
  }
  .nav-menu .home{
    font-size: 0.9rem;
    border-top: 1px solid #e7e7e7;
  }
  .nav-menu .signup{
    color: white;
  }
  .nav-menu .signup:hover{
    color: white;
  }
  /* hero section */
  .container h1{
    font-size: 4rem;
    width: 50;
    line-height: 1.3;
    }
    /*  */
    .program-header p{
      width: 100%;
      font-size: 0.9rem;
      color: #7a7a7a;;
    }
    .container-begin {
      width: 100%;
      height: 55vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
      margin-block: 6rem;
      color: #fff;
      text-align: center;
      background-image: url(images/cta-bg.jpg);
    }
    .container-begin p{
      width: 90%;
      text-transform: capitalize;
      color: #fff;
    }

    .classes-image .btn{
      width: 50%;
    }
    .schedule-table td{
      padding: 0.7rem 0;
      font-size: 0.79rem;
    }

    .contact-container{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      padding-inline: 5%;
      
    }
    .map{
      width: 90%;
    }
    .form{
      width: 90%;
      max-height: 600px;
      background-image: url(images/contact-bg.jpg);
    }
    .footer{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 4rem;
      font-size: 0.73rem;
    }
    .footer p{
      color: #000;
    }
  
}




/* @media (max-width:1200px) {
  header{
    padding: 1rem 2.2rem;
  }
  .images img{
    max-width: 500px;
    border-radius: 6px;
  } */
  /* contact section */
/* .contact{
  padding: 50px 0;
}
.contact-container{
  display: flex;
  
}
.contact .map iframe{
  width: 500px;
}
.form{
  width: 55%;
  max-height: 600px;
  background-image: url(images/contact-bg.jpg);
}
} */

/* @media (max-width:1005px) {
  header{
    padding: 1rem 3%;
  }
  .nav-menu{
    display: flex;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    gap: 0;
    width: 70%;
    height: 50px;
    margin-left: 25%;
    text-align: center;
    transition: 0.5s;
  }

  .nav-menu ul li a{
    color: #fff;
    font-size: 0.9rem;
  }
  
  .nav-menu .signup{
    color: white;
    padding: 10px 5px;
    font-size: 0.9rem;
  }
    hero section
    .container h1{
      font-size: 4rem;
      margin-block: 1.7rem;
    }
    program section
    .program{
      padding: 100px 7%;
    }
    .program-header p{
      width: 100%;
      font-size: 0.9rem;
    }
    .program-container{
      grid-template-columns: repeat(1,1fr);
      gap: 2rem;
    }
    .program-card .program-card-text h2{
      font-size: 1.22rem;
      font-weight: 500;
    
    }
  
    .program-card .program-card-text p{
      font-size: 0.87rem;
      line-height: 2;
    }
    .classes{
      padding: 20px 10%;
    }

    .images img{
      max-width: 800px;
      border-radius: 6px;
    }

    .training-cards{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      gap: 2rem;
    }
  
}

@media (max-width:800px) {
  #menu-icon{
    display: block;
    font-size: 30px;
    cursor: pointer;
    transition: .42s ease;
  }
  
  header{
    padding: 1rem 8rem;
    background-color: #f7f8f8;
    box-shadow: 0px 0px 10px rgba(0 0 0 /10%);
  }
  .logo{
    color: #000;
  }
  .nav-menu{
    display: block;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    gap: 0;
    background-color: #f7f7f7;
    height: 0;
    margin: auto;
    width: 80%;
    text-align: center;
    transition: 0.5s;
   
  }
  .nav-menu.active{
    height: 305px;
  }
  .nav-menu.active ul{
    display: block;
    width: 100%;
    opacity: 1;
    transition: 0.5s;
  }
  .nav-menu ul{
    opacity: 0;
    
  }
  .nav-menu ul li{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e6e3e3;
    transition: all .4s ease;
  }
  .nav-menu li:hover{
    background-color: #c1c2c579;
  }
  .nav-menu ul li a{
    color: #000;
    font-size: 0.9rem; 
  }
  .nav-menu a{
    padding-block: 0.9rem;
    color: black;
  }
  .nav-menu .home{
    font-size: 0.9rem;
    border-top: 1px solid #e7e7e7;
  }
  .nav-menu .signup{
    color: white;
  }
  .nav-menu .signup:hover{
    color: white;
  }
  hero section
  .container h1{
    font-size: 4rem;
    max-width: 500px;
    line-height: 80px;
    margin-block: 1.9rem;
  }
  program section
  .program{
     padding: 100px 10%;
   }
   .program-header p{
    width: 80%;
    text-align: center;
    font-size: 0.9rem;
    color: #7a7a7a;;
  }
   .program-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .program-card{
    display: flex;
    align-items: center;
    gap: 2rem;
    max-width: 50%;
  }
  .program-card .program-card-text{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    font-size: 0.8rem;
  }

  .program-card .program-card-text p{
    font-size: 0.87rem;
    line-height: 1.8;
  }
  begin section
  .container-begin {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-block: 3rem;
    color: #fff;
    text-align: center;
    background-image: url(images/cta-bg.jpg);
  }
  .container-begin h1{
    width: 60%;
    font-size: 2.2rem;
    text-transform: capitalize;
  } 
  classes section
  .classes{
    padding: 20px 10%;
  }
  .images img{
    max-width: 570px;
    border-radius: 6px;
  }
  .card h2{
    font-size: 1.2rem;
    font-weight: 600;
    color: #000;
    text-transform: capitalize;
  }
  .images{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .schedule-table td{
    padding: 2rem 3%;
    font-size: 0.9rem;
  }
  .schedule-header p{
    width: 90%;
    text-align: center;
    font-size: 0.9rem;
    color: #fff;
  }
  .training{
    padding: 20px 18%;
  }
    
  .training-cards{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 2rem;
  }

  .contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

}
@media (max-width:768px) {
  .nav-menu{
    display: block;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    gap: 0;
    background-color: #f7f7f7;
    height: 0;
    width: 90%;
    text-align: center;
    transition: 0.5s;
   
  }


} */